/*html*/
.html {
    scroll-behavior: smooth;
}

/*body*/
body {
    padding: 0;
    margin: 0;
    background: var(--cream);
    width: auto;
    height: auto;
    overflow-x: hidden;
}

/*colors*/
:root {
    --blue: #ABD7FF;
    --red: #FF4E37;
    --pink: #FED4CE;
    --dark: #212A32;
    --cream: #FAF4F2;
}

/*Qaligo font*/
@font-face {
    font-family: Qaligo;
    src: local("Qaligo Regular - Demo");
}

/*text styles*/
.h2 {
    color: var(--red);
    font: 36px Qaligo;
    margin: 0;
}
.h3 {
    color: var(--dark);
    font-weight: semibold;
    font-size: 24px;
    font-family: Poppins;
    margin: 0;
}
.body-text {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: var(--dark);
}

/*misc*/
.line {
    background-color: var(--blue);
    border-width: 0;
    height: 6px;
    border-radius: 3px;
    margin: 0;
}
.button {
    background-color: var(--pink);
    border-width: 0;
    height: 40px;
    border-radius: 20px;
    user-select: none;
}

/*content*/
/*navigation*/
.home-button {
    color: var(--red);
    font: 16px Qaligo;
    margin: 0;
    line-height: 16px;
    position: fixed;
    left: 32px;
    top: 32px;
    text-decoration: none;
    z-index: 1;
}
.nav {
    position: sticky;
    text-align: center;
    padding: 0;
}
.nav-link {
    text-align: center;
    margin-right: 144px;
    text-decoration: none;
}
.nav-link-contact {
    text-align: center;
    margin: 0;
    text-decoration: none
}
.nav-link:hover {
    color: var(--red);
}
.nav-link-contact:hover {
    color: var(--red);
}

/*hero*/
.home-section {
    position: absolute;
    top: 0;
}
.hero-body {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -45%);
    width: 1167px;
    height: 88px;
}
.hero-h1 {
    color: var(--red);
    text-align: center;
    width: 100%;
    height: 88px;
    font: 56px Qaligo;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    margin: 0;
    white-space: nowrap;
}
.hero-line-left {
    position: absolute;
    width: 405px;
    left: 0px;
    top: 105px;
}
.hero-line-right {
    position: absolute;
    width: 352px;
    right: 0px;
    top: 105px;
}
.hero-button {
    position: relative;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 16px;
    width: 212px;
    top: 15px;
    left: 49.7%;
    transform: translate(-49.7%, 0%);
}
.hero-button:hover {
    color: var(--red);
}
.hero-button:focus {
    outline: none;
}
.hero-description-left {
    position: absolute;
    text-align: left;
    top: 120px;
    margin: 0;
}
.hero-description-right {
    position: absolute;
    text-align: right;
    top: 120px;
    right: 0;
    margin: 0;
}

/*about me*/
.about-section {
    position: absolute;
    top: 100%;
}
.about-box {
    position: absolute;
    width: 91.667%;
    height: 400px;
    right: 0px;
    top: 1052px;
    background: #FFFFFF;
    border-radius: 0px 0px 0px 100px;
}
.about-h2 {
    position: absolute;
    left: 40px;
    top: -30px;
}
.about-image {
    position: relative;
    width: 320px;
    height: 320px;
    left: 40px; 
    top: 50%;
    transform: translate(0%, -50%);
    background: url(20201105_131712.jpg);   
    background-size: 320px 320px;
    border-radius: 0px 0px 0px 80px;
}
.about-body {
    position: absolute;
    left: 424px;
    top: 30%;
    transform: translate(0%, -30%);
}
.about-body-text {
    position: relative;
    width: 553px;
    height: 112px;
    margin: 0;
    white-space: pre-wrap;
    text-align: left;
}
.about-line {
    position: relative;
    width: 60px;
    top: 29px;
    left: 0;
}
.about-h3 {
    position: relative;
    top: 51px;
    text-align: left;
    left: 0;
}
.about-skills {
    position: relative;
    top: 64px;
    left: 0;
    display: flex;
    margin: 0;
    padding: 0;
}
.about-skills-col {
    text-align: left;
    margin-right: 64px;
    width: auto;
    line-height: 28px;
}
.about-resume-button {
    position: absolute;
    bottom: 0;
    left: 372px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 16px;
    width: 125px;
}
.about-resume-button:hover {
    color: var(--red);
}
.about-resume-button:focus {
    outline: none;
}

/*work*/
.work-section {
    position: absolute;
    top: 200%;
}
.work-h2 {
    position: relative;
    text-align: right;
    height: 32px;
    line-height: 32px;
    top: -51px;
}
.work-box-1 {
    position: absolute;
    width: 83.333%;
    height: 400px;
    left: 8.333%;
    top: 1860px;
    background: #FFFFFF;
    border-radius: 100px 0px 0px 0px;   
}
.work-box-1-h3 {
    position: absolute;
    top: 100px;
    left: 100px;
}
.work-box-1-body {
    position: absolute;
    text-align: left;
    top: 139px;
    left: 100px;
    margin: 0;
}
.work-box-1-line {
    position: absolute;
    width: 60px;
    left: 100px;
    top: 221px;
}
.work-box-1-button {
    position: absolute;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 16px;
    width: 140px;
    top: 259px;
    left: 100px;
}
.work-box-1-button:hover {
    color: var(--red);
}
.work-box-1-button:focus {
    outline: none;
}
.work-box-1-mockup {
    position: absolute;
    width: 667.25px;
    height: 486.3px;
    right: 0px;
    top: -44px;
    border: 0;
}
.work-box-2 {
    position: absolute;
    width: 83.333%;
    height: 400px;
    left: 8.333%;
    top: 2380px;
    background: #FFFFFF;
    border-radius: 0px 0px 100px 0px;   
}
.work-box-2-h3 {
    position: absolute;
    bottom: 268px;
    right: 100px;
    text-align: right;
}
.work-box-2-body {
    position: absolute;
    text-align: right;
    bottom: 205px;
    right: 100px;
    margin: 0;
}
.work-box-2-line {
    position: absolute;
    width: 60px;
    right: 100px;
    bottom: 173px;
}
.work-box-2-button {
    position: absolute;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 16px;
    width: 140px;
    bottom: 101px;
    right: 100px;
}
.work-box-2-button:hover {
    color: var(--red);
}
.work-box-2-button:focus {
    outline: none;
}
.work-box-2-mockup {
    position: absolute;
    width: 562.5px;
    height: 400px;
    left: 40px;
    bottom: 40px;
    border: 0;
}

/*contact*/
.contact-box {
    position: absolute;
    width: 91.667%;
    height: 400px;
    left: 0px;
    top: 3184px;
    background: #FFFFFF;
    border-radius: 0px 100px 0px 0px;
}
.contact-h2 {
    position: absolute;
    left: 64px;
    top: -32px;
}
.contact-body {
    position: relative;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
}
.contact-h3 {
    position: relative;
    text-align: center;
}
.contact-line {
    position: relative;
    width: 60px;
    top: 24px;
    margin: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}
.contact-button {
    position: relative;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 16px;
    width: 258px;
    top: 58px;
    left: 50%;
    transform: translate(-50%, 0%);
}
.contact-button:hover {
    color: var(--red);

} 
.contact-button:focus {
    outline: none;
}
.contact-nav {
    position: absolute;
    bottom: 16px;
    margin: 0;
    padding: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}
.contact-link {
    margin-right: 64px;
    text-decoration: none;
    text-align: center;
}
.contact-link:hover {
    color: var(--red);
}
.contact-link-github {
    text-decoration: none;
    text-align: center;
}
.contact-link-github:hover {
    color: var(--red);
}

