/* COLORS */
:root {
  --dark: #0D0E0F;
  --light: #FFF8F0;
  --blue: #1772E5;
}

/* FONTS */
h1 {
  font: 5rem Inter;
}
h2 {
  font: bold 2.5rem Inter;
}
h3 {
  font: 2rem Inter;
}
p {
  font: 1.2rem Inter;
}

/* REM */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
@media only screen and (min-width: 240px) {
  html {
    font-size: 8px;
  }
}
@media only screen and (min-width: 720px) {
  html {
    font-size: 10px;
  }
}
@media only screen and (min-width: 960px) {
  html {
    font-size: 12px;
  }
}
@media only screen and (min-width: 1240px) {
  html {
    font-size: 14px;
  }
}